# ignore all PDF files
*.pdf

# ignore auxiliary files created by luaLaTeX or pdfLaTeX
*.aux
*.log
*.nav
*.out
*.snm
*.svg
*.toc
*.vrb

# ignore auxilliary files created by BibLaTeX and Biber
*.bbl
*.bcf
*.blg
*.run.xml

# ignore Emacs backup files
*~

# ignore auto/ cataloges created by Emacs
auto/

# ignore Java auxiliary files
*.class

# ignore Jupyter auxiliary directories
.ipynb_checkpoints/

# ignore directory with Jagiellonia theme default pictures
JagiellonianPictures-directories

# ignore specific pitctures
W_Ross_Ashbys_1948_Homeostat.jpeg

# ignore files for checking programs' text output
PI-*-Text-output.txt