# ignore all PDF files
*.pdf

# ignore auxiliary files created by luaLaTeX or pdfLaTeX
*.aux
*.log
*.nav
*.out
*.snm
*.toc
*.vrb

# ignore Emacs backup files
*~

# ingnore auto/ cataloges created by Emacs
auto/