# ignore all PDF files
*.pdf

# ignore auxiliary files created by luaLaTeX or pdfLaTeX
*.aux
*.log
*.nav
*.out
*.snm
*.svg
*.toc
*.vrb

# ignore auxilliary files created by BibLaTeX and Biber
*.bbl
*.bcf
*.blg
*.run.xml

# ignore all picture files of these types
#*.jpg
#*.jpeg
#*.png

# ignore Emacs backup files
*~

# ignore auto/ cataloges created by Emacs
auto/

# ignore Jupyter auxiliary directories
.ipynb_checkpoints/

# ignore directory with Jagiellonia theme default pictures
JagiellonianPictures-directories